.cat {
	zoom: .6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	.status {
		color: #fff;
		font-size: 25px;
		text-align: center;
		margin-top: 30px;
	}
}

.z {
	color: #fff;
	position: absolute;
	top: 80px;
	left: 80px;
	animation: z 4s linear infinite;
	
	&.delay1 {
		animation-delay: 1s;
	}
	&.delay2 {
		animation-delay: 2s;
	}
	&.delay3 {
		animation-delay: 3s;
	}
}

@keyframes z {
	0% {
		font-size: 30px;
		opacity: 1;
	}
	100% {
		font-size: 80px;
		opacity: 0;
		top: -150px;
		left: -150px;
	}
}